.pie {
    width:2.75em; height:2.75em;
    border-radius:1.375em;
    position:absolute;
    
    background-color: #eee;
}
.pie1 { clip:rect(0px,2.75em,2.75em,1.375em); }
.pie2 { clip:rect(0px,1.375em,2.75em,0px); }
.hold {
    width:2.75em; height:2.75em;
    position:absolute;
    z-index:1;
}
.hold1 { clip:rect(0px,2.75em,2.75em,1.375em); }
.hold2 { clip:rect(0px,1.375em,2.75em,0px); }
.bg { 
    width:2.75em;
    height:2.75em;
    border-radius:1.375em;
    position:absolute;
    
    background-image: linear-gradient(bottom, #fa9e33 30%, #ffcd92 65%);
    background-image: -o-linear-gradient(bottom, #fa9e33 30%, #ffcd92 65%);
    background-image: -moz-linear-gradient(bottom, #fa9e33 30%, #ffcd92 65%);
    background-image: -webkit-linear-gradient(bottom, #fa9e33 30%, #ffcd92 65%);
    background-image: -ms-linear-gradient(bottom, #fa9e33 30%, #ffcd92 65%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.3, #fa9e33),
        color-stop(0.65, #ffcd92)
    );
}

#timer {
    margin:0.1875em 0px 0px 0.625em;
    width: 2.75em;
    height: 2.75em;
    
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}